// General Styles
* {
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css?family=Russo+One|Ubuntu');
  @mainFont: 'Ubuntu', sans-serif;
  @headFont: 'Russo One', sans-serif;
  @primeColor: #171330;
  @accentColor: #EF019F;
  @mainText:#E5E9EC;
  @headColor: #780150;
  
  html {
    font-size: 62.5%;
    width: 100%;
  }
  
  html, body {
    font-family: @mainFont;
    color: @mainText;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: @headFont;
    color: @headColor;
  }
  
  h2 {
    font-size: 3.2rem;
  }
  
  h3 {
    font-size: 2.8rem;
  }
  
  p {
    font-size: 1.6rem;
    line-height: 1.4;
  }